html{
    background-image: url("https://static.wikia.nocookie.net/southpark/images/c/c4/South_park.png/revision/latest?cb=20180208185617");
    background-size: cover;

}
a{
  color: black;  
}
.ages{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}